/* INIZIO RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET  */

/* INIZIO REGOLE GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #33475b;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: auto;
  height: 500px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
}
.btn-cta  {
  background: #fe775a;
  border-radius: 3px;
  padding: 15px;
  color: white;
}
/* FINE REGOLE GENERALI */

/* INIZIO NAVBAR */
/* Inizio Regole generali Navbar */
nav .col {
  width: 50%;
}
nav .col.right-menu {
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav .col.right-menu {
  text-align: right;
}
/* Fine Regole generlai Navbar */

/* Inizio top-nav */
nav .top-nav {
  height: 80px;
  background: #f4f9fd;
  line-height: 80px;
  border-bottom: 2px solid black;
}
nav .top-nav .col.left-menu ul li:last-child {
  padding: 0 15px;
}
nav .top-nav .col.rigth-menu i {
  color: #00a4bd;
}
/* Fine top-nav */

/* Inizio Bottom-Nav */
nav .bottom-nav {
  height: 80px;
  background: white;
  line-height: 80px;
}
nav .col.right-menu ul li .login,
nav .col.right-menu ul li .btn-cta.free-plan {
  border-radius: 3px;
  padding: 5px;
}
nav .col.right-menu ul li .btn-cta.free-plan {
  background: #fe775a;
  color: white;
}
nav .col.right-menu ul li .login {
  border: 1px solid #fe775a;
  color: #fe775a;
}
/* Fine Bottom-Nav */
/* FINE NAVBAR */

/* INIZIO HEADER */
header {
  background-image: url("../img/jumbotron.png");
  width: 100%;
  height: 650px;
  background-size: cover;
}
header .col {
  width: 45%;
}
header .col.jumbotron {
  padding-top: 50px;
}
header h1 {
  font-size: 55px;
}
header p {
  text-align: justify;
}
/* header a .btn-cta .free-plan {
  display: block;
  margin: 20px 0;
} */
/* FINE HEADER */

/* Inizio green-div */
.green-div {
  height: 80px;
  background: #afebe4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/* Fine green-div */

/* INIZIO MAIN */
/* Inizio Main generale */
main {
  background: #f4f9fd;
  height: 1300px;

}
main section i {
  color: #fe775a;
}
/* Fine Main generale */

/* Inizio Software-Offer */
/* Inizio Slogan */
main section.software-offer .slogan {
  text-align: center;
  padding: 50px 230px;
}
main section.software-offer .slogan img {
  width: 200px;
  height: 200px;
}
/* Fine Slogan */

/* Inizio Software CRM */
main section.software-offer .software.crm {
  background: white;
  border-radius: 5px;
  height: 300px;
}
main section.software-offer .col.box-left {
  width: 30%;
  text-align: center;
}
main section.software-offer .col.box-left img {
  width: 150px;
  height: 150px;
}
main section.software-offer .col.box-left a {
  display: block;
  width: 30%;
  margin: auto;
}
main section.software-offer .col.box-right h3 {
  float: left;
}
main section.software-offer .col.box-right hr {
  display: inline-block;
  margin-top: 13px;
  width: 50%;
}
main section.software-offer .col.box-right li {
  display: inline-block;
}
/* Fine Software CRM */

/* Inizio sezione more-software-offer */
main section .more-software-offer {
  margin: 30px 0;
}
main section.software-offer .more-software-offer .col.option {
  width: 30%;
  padding: 0 50px;
  background: white;
  border-radius: 5px;
}
main section.software-offer .more-software-offer .col.option.center {
  margin: 0 5%;
}
main section.software-offer .more-software-offer .col.option img {
  width: 150px;
  height: 150px;
  padding: 15px 0;
}
main section .description {
  text-align: center;
  padding: 20px 0;
}
main section .option .description p {
  padding: 20px 0 50px 0;
}
main section .option .description hr {
  width: 100%;
  margin: auto;
}
main section .option h3 {
  padding: 20px 0;
  text-align: center;
}
main section .option a {
  display: block;
  margin: 30px auto 20px;
  width: 40%;
}
/* Fine sezione more-software-offer */
/* Fine Software-Offer */

/* Inizio Sezione Customer-Support (area blu) */
main section.customer-support {
  width: 100%;
  height: 500px;
  background: #00a9b9;
  color: white;
}
main section.customer-support h2 {
  font-size: 30px;
  font-weight: bold;
}
main section.customer-support h2, p {
  text-align: center;
  padding: 0 10%;
}

/* Fine Sezione Customer-Support (area blu) */























/* FINE MAIN */
